.full-mountain-image{
  background:url('https://2.bp.blogspot.com/--553C_5SsUw/T7KfsL3BCtI/AAAAAAAA4Ro/WxipXiyxCeE/s1600/gotitas-de-agua-sobre-las-hojas-despues-de-las-lluvias.jpg') center no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
}